# ml
torch==2.1.2
torchmetrics==1.0.1
lightning==2.0.5
mlflow==2.4.2
scikit-learn==1.3.0
netron>=7.1.8
onnx==1.14.0
torchinfo==1.8.0

# numeric
pandas==2.0.3
scipy==1.11.1
sympy==1.11.1
tables==3.8.0
uncertainties==3.1.7
numba==0.59.0
numpy==1.26.4

# plotting
matplotlib==3.7.2
seaborn==0.12.2
corner==2.2.2

# utils
h5py==3.9.0
hydra-core==1.3.2
requests>=2.28.1
tqdm>=4.65.0
rich>=13.7.0

# hep
mplhep==0.3.31
uproot==5.1.2
awkward==2.4.6
pyhf==0.7.2
iminuit==2.25.2
